<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ole Faithful</title>
</head>
<body>
    <h1>Ole Faithful</h1>
    <h2>by Victory Ma</h2>
    <div id="hero"></div>
</body>
</html>